<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment Process</title>
</head>
<body>

    {% comment %}
    make this auto submit..
    {% endcomment %}
    <form id="cash_flow" method="POST" action={{ form.gateway }}>
    {{ form }}
    <button style="visibility: hidden">submit</button>
    </form>

    <script>
      var form = document.getElementById("cash_flow");

      form.submit();
    </script>
</body>
</html>
